@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FFFAE6;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

.program-card-container {
  display: flex;
  align-items: center;
  perspective: 1000px;
}

.program-card {
  position: absolute;
  height: 320px;
  padding: 16px;
  text-align: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.program-card-back {
  transform: translateZ(-100px) scale(0.8);
  opacity: 0.5;
}

.hover-card:hover .image-hover {
  filter: invert(1);
  transition: filter 0.3s ease;
}

.hover-card:hover {
  background-color: white;
}
